<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style='width:90%; height:auto;display:block;justify-content:center; margin:auto; padding:20px'>
        <h1 style="font-size:2em; text-align:center;width:100%;text-align:center;text-transform: uppercase;">
            {{username}}, <br>GRACIAS POR REGISTRARTE!!!
        </h1><br>
        <p>Hola, {{name}}!!! <br>Muchas gracias por tomarse el tiempo de ver mi portafolio y registrarse. <br>
        No se preocupe que no voy a usar su correo para mandar spam jeje.<br>
        Espero haya sido de su agrado mi portafolio, lo hice con mucho cariño. <br>Espero seguir aprendiendo para que la proxima vez que lo vea, note más de mis progresos.<br>En fin muchas gracias, y que siempre se encuentre de la mejor manera.<br>Yo seguiré divirtiéndome mientras aprendo!!! 
        </p>
        <p style="text-align:right">Atte. Daniel Chachagua</p>
        <p style="text-align:right">Backend Developer</p>
    
    </div>
</body>
</html>


