.helptext, .helptext ul li{
    font-weight: normal;
    font-style: italic;
    font-size: 13px;
    font-family: cursive;
    line-height: 1.5em;
    padding-bottom: 10px;
}

.elementos-form li input {
    margin: 5px auto 15px;
    width: 90%;
    text-align: center;
    font-size: 1.05em; 
    border-radius: 20px;
    padding: 5px 0; 
}

.elementos-form li label{
    padding: 10px;
    font-size: 1.1em;
}

.contenedor-formulario p {
    text-align: center;
    color: rgb(182, 35, 35);

}

.tit-form-ini{
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}
