{% extends 'home/base.html' %}

{% load static %}

{% block content%}
   
    <div class="contenedor-formulario">
        <h2 class="tit-form-ini">Inicio Sesión</h2>
        <form method="post" action="" class="elementos-form">{% csrf_token %}
            {{form.as_ul}}
        </fomr>
        <button type="submit" class="dow-cur"> Iniciar Sesión</button>
        {% if messages %}
                {% for msg in messages %}
                    <p class="alert-mensaje alert-{{msg.tags}}">{{msg}}</p>
                {% endfor %}
        {% endif %}
    </div>    
{% endblock %}